@import url("global.css");

nav {
    align-items: center;
    display: flex;
    justify-content: space-between;

    padding-block: 24px;
    line-height: 0;
}

nav ul {
    align-items: center;
    display: flex;
    gap: 20px;
    list-style: none;
}

nav ul li:last-child img {
    border-radius: 50%;
    height: 40px;
    object-fit: cover;
    width: 40px;
}

.surface-color-bg {
    background-color: var(--surface-color);
}

